@model IQueryable<Student>

<div class="row">
    <a asp-action="create" asp-controller="studentnew" class="btn btn-outline-primary">Create new Student</a>
</div>
@{
    var final = TempData[Consts.TempDataVal.Final] as string;
    final = final == null ? "" : final;
}
@if(!string.IsNullOrWhiteSpace(final))
{
    <div class="row">
        <span class="alert alert-success">
            @final
        </span>
    </div>
}
<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Class Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model)
            {
                string cls = item.Classes == null ? "" : item.Classes.Name;

                <tr>
                    <td>@i</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Email</td>
                    <td> @cls </td>
                    <td>
                        <a asp-action="edit" asp-controller="studentnew" asp-route-id="@item.Id">
                            <i class="fa fa-pen"></i>
                        </a>
                        |
                         <a asp-action="delete" asp-controller="studentnew" asp-route-id="@item.Id">
                            <i class="fa fa-trash"></i>
                        </a>
                        | 
                        <button class="btn btn-danger" onclick="Delete(@item.Id)">
                            Del
                        </button>
                    </td>
                </tr>

                i++;

            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        function Delete(id)
        {
            var res = confirm("Are you sure you want to delete the record?");
            if (res) {
                location.href = "https://localhost:44358/studentnew/DeletebyId?id=" + id;
            }
        }
    </script>
}